/* styles.css */
body {
    background-color: #333333; /* Cinza escuro */
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

iframe {
    border: none;
}